@import url('https://fonts.googleapis.com/css2?family=REM:wght@200;400;700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    font-family: 'REM', sans-serif;
    background: linear-gradient(to bottom, #313131, #222);
    color: #fff;
}

.wrapper {
    flex: 1;
    overflow: auto;
}

.fade-in {
    animation: fade-in 1.5s ease forwards;
}


.cool-theme{
    background: linear-gradient(to bottom, #4a90e2, #78b8f0);
    background-size: 100% 200%;
    animation: gradientFlow 10s linear infinite;
}

.hot-theme{
    background: linear-gradient(to bottom, #f15a24, #ff9e54);
    background-size: 100% 200%;
    animation: gradientFlow 10s linear infinite;
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes gradientFlow {
    0%, 100% {
        background-position: 0 0;
    }
    50% {
        background-position: 0 100%;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0; 
    color: #fff; 
    padding: 10px; 
    font-size: 2.1rem;
    text-shadow: 3px 3px rgba(50,50,70,.2);
    cursor: pointer;
}

form, #weatherContainer {
    display: block;
    width: 100%;
    max-width: 450px;
    margin: 50px auto;
    text-align: center;
    padding: 30px;
}

input[type="text"] {
    display: block;
    width: 100%;
    background:transparent;
    color: #fff;
    border: 0;
    border-bottom: 2px solid #888;
    font-size: 1.2rem;
    padding: 5px 0;
}

input[type="text"]:focus {
    border-color:  #FFFFFF;
    outline: 0;

}

ul {
    list-style: none;
    text-align: left;
}

ul li {
    background-color: #333;
    margin-top: 2px;
    padding: 10px;
    cursor: pointer;
}

ul li span {
    color: #777;
}

#degrees {
    font-size: 3rem;
    margin-bottom: 10px;
    text-shadow: 3px 3px rgba(50,50,70,.2)
}

#icon {
    margin-top: -40px;
    margin-bottom: -20px;
}

#city {
    margin-bottom: 10px;
    font-size: 3rem;
    text-shadow: 3px 3px rgba(50,50,70,.2);
}

button#change {
    border: 2px solid #2c3e50;
    background-color: #2c3e50;
    color: #fff;
    padding: 4px 10px;
    border-radius: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'REM';
    font-size: .7rem;
}

#desc {
    font-size: 2rem;
    margin-bottom: 10px;
    text-shadow: 3px 3px rgba(50,50,70,.2)
}

div.tempinfo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

div.tempinfo h3 {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div.tempinfo .value {
    font-size: 2rem;
}

div.tempinfo .value span {
    color: lightgray;
    font-size: .8rem;
    display: inline-block;
    margin-left: 3px;
}

div.winfo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

div.winfo h3 {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

div.winfo .value {
    font-size: 2rem;
}

div.winfo .value span{
    color: lightgray;
    font-size: .8rem;
    display: inline-block;
    margin-left: 3px;
}

h2 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

#weatherforecastContainer {
    width: 100%;
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 5px;
}

#weatherforecastContainer h3 {
    font-size: .8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#weatherforecastContainer p {
    font-size: 1rem;
}

footer {
    padding: 10px;
    text-align: right;
}